// /*  ================================
//    LAYOUTS & MEDIA QUERIES:
//     - Mobile: 375px
//     - Tablet: 768px -> @media (min-width: 48rem) {}
//     - Desktop: 1440px -> @media (min-width: 90rem) {}
//    ================================ */

// /* ================================
//    COLORS

//    - Add your custom palette here
//    - Keep the primary / neutral / basic color division
//    ================================ */

// /* Primary */
$clr-primary-gold-500: hsl(24, 56%, 63%);

// /* Neutral  */
$clr-neutral-grey-700: hsl(0, 0%, 27%);
$clr-neutral-grey-900: hsl(0, 0%, 8%);

// /* Basic */

$clr-basic-white: hsl(0, 0%, 100%);

// /* ================================
//    SPACING

//     - Clean up or extend spacing tokens as needed
//     - Keep consistent incremental scale (0, 100, 200, 300…)
//     - Add new values specific to the project if required (https://elementor.com/blog/px-to-rem/)
//    ================================ */

$spacing-0: 0; /* 0 */
$spacing-025: 0.15rem; /* 2px */
$spacing-050: 0.25rem; /* 4px */
$spacing-075: 0.4rem; /* 6px */
$spacing-100: 0.5rem; /* 8px */
$spacing-125: 0.65rem; /* 10px */
$spacing-150: 0.75rem; /* 12px */
$spacing-200: 1rem; /* 16px */
$spacing-250: 1.25rem; /* 20px */
$spacing-300: 1.5rem; /* 24px */
$spacing-400: 2rem; /* 32px */
$spacing-500: 2.5rem; /* 40px */
$spacing-600: 3rem; /* 48px */
$spacing-800: 4rem; /* 64px */
$spacing-1000: 5rem; /* 80px */

// /* ================================
//    RADIUS
//    ================================ */

$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;

// /* ================================
//    TYPOGRAPHY

//     - Important: always include fallback font families
//     - Recommended fallbacks: sans-serif / serif
//    ================================ */

$ff-accent: "Big Shoulders", display;
$ff-base: "Outfit", sans-serif;

// /* ================================
//    FONT WEIGHTS

//     - Clean up or extend core weight tokens as needed
//     - Add new values specific to the project if required
//    ================================ */

$fw-light: 300;
$fw-extra-bold: 800;
$fw-black: 900;

// /* ================================
//    LETTER SPACING

//    - Define none / tight / loose presets
//    - Use rem units for better scaling across sizes
//    ================================ */

$ls-none: 0; /* 0 */
$ls-loose: 0.23rem; /* 3.64px */

// /* ================================
//    FONT SIZES

//    - Match naming to your design tool (e.g., Figma presets)
//    - Use relative units for responsive scaling
//    - Add project-specific values as needed
//    ================================ */

$fs-preset-1: 6rem; /* 96px */
$fs-preset-1-tablet: 4.38rem; /* 70px */
$fs-preset-1-mobile: 3.75rem; /* 60px */

$fs-preset-2: 4.38rem; /* 70px */
$fs-preset-2-tablet: 3.44rem; /* 55px */

$fs-preset-3: 3.75rem; /* 60px */
$fs-preset-3-tablet: 3.13rem; /* 50px */

$fs-preset-4: 2.25rem; /* 36px */
$fs-preset-5: 1.38rem; /* 22px */
$fs-preset-6: 1.25rem; /* 20px */
$fs-preset-7: 1.13rem; /* 18px */

// /* ================================
//    LINE HEIGHTS
   
//    - Keep ratios (1.35 / 1.5 / 1.6) consistent with typography scale
//    - Adjust per component type if necessary
//    ================================ */

$lh-090: 0.9;
$lh-100: 1;
$lh-140: 1.4;

// /* ================================
//    FONT DECLARATIONS

//    - Define custom fonts used in this project
//    - .woff2 files can be downloaded from:
//      https://gwfh.mranftl.com/fonts
//    - Use `font-display: swap` for better performance
//    ================================ */

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/outfit-v15-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Big Shoulders";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/big-shoulders-v4-latin/big-shoulders-v4-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Big Shoulders";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/big-shoulders-v4-latin/big-shoulders-v4-latin-900.woff2") format("woff2");
}
