@use "../variables" as var;
@use "../mixins" as mix;

.header {
  display: grid;
  place-items: center;
  gap: var.$spacing-400; // 32px

  .header__hero {
    width: 100%;
    block-size: auto;

    img {
      width: 100%;
      block-size: auto;
      object-fit: cover;
    }
  }

  .header__article {
    max-width: 92%;
    display: grid;
    gap: var.$spacing-400; // 32px
    font-family: var.$ff-base;
    // text-preset-7
    font-size: var.$fs-preset-7;
    font-weight: var.$fw-light;
    line-height: var.$lh-140;
    letter-spacing: var.$ls-none;
    color: var.$clr-neutral-grey-700;

    .header__logo {
      display: grid;
      justify-content: start;

      max-inline-size: 100%;
      img {
        width: 100%;
      }
    }
  }

  @include mix.respond-to(tablet) {
    grid-template-columns: 57% 43%;
    gap: 0;
    .header__article {
      justify-self: start;
      margin-inline-start: calc(-1 * var.$spacing-600); // -48px
    }
  }
}
