@use "../variables" as var;
@use "../mixins" as mix;

.main {
  width: 92%;
  display: grid;
  place-items: center;
  gap: var.$spacing-400; // 32px
  font-family: var.$ff-base;
  text-align: start;
  background-color: var.$clr-basic-white;
  color: var.$clr-neutral-grey-900;
  // text-preset-7
  font-size: var.$fs-preset-7;
  font-weight: var.$fw-light;
  line-height: var.$lh-140;
  letter-spacing: var.$ls-none;
  

  @include mix.respond-to(tablet) {
    gap: var.$spacing-150; // 12px
  }

  .gallery,
  .inspiration {
    width: 100%;
    display: grid;
  }
  .gallery {
    grid-template-columns: 1fr;
    gap: var.$spacing-300; // 24px

    @include mix.respond-to(tablet) {
      align-items: center;
      grid-template-columns: 1fr max-content;
      grid-template-areas: "article picture";
      .gallery__article {
        grid-area: article;
        max-width: 100%;
      }
      picture {
        grid-area: picture;
        width: 100%;
      }
      .gallery__article-title {
        width: 60%;
      }
      .gallery__article-text {
        color: var.$clr-neutral-grey-700;
        width: 80%;
      }
    }
  }

  .inspiration {
    gap: var.$spacing-200; // 16px

    @include mix.respond-to(tablet) {
      grid-template-columns: 58% 41%;

      grid-template-rows: auto auto;
      gap: var.$spacing-150; // 12px;
      grid-template-areas:
        "picture1 picture2"
        "picture1 article";
      .inspiration__article {
        padding: var.$spacing-1000 var.$spacing-400; // 80px 32px;
        grid-area: article;
      }
      .inspiration__pic-1 {
        grid-area: picture1;
      }
      .inspiration__pic-2 {
        grid-area: picture2;

        img {
          height: 100%;
        }
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  %article-title {
    font-family: var.$ff-accent;
    text-transform: uppercase;
    // text-preset-3(tablet)
    font-size: var.$fs-preset-3-tablet;
    font-weight: var.$fw-black;
    line-height: var.$lh-090;
    letter-spacing: var.$ls-none;
  }
  .inspiration__article-title {
    @extend %article-title;
  }
  .gallery__article-title {
    @extend %article-title;
  }

  .gallery__article {
    display: grid;
    gap: var.$spacing-300; // 24px;
  }

  .inspiration__article {
    padding: var.$spacing-600 var.$spacing-300; // 48px 24px;
    display: grid;
    gap: var.$spacing-300; // 24px;
    background-color: var.$clr-neutral-grey-900;
    color: var.$clr-basic-white;
  }
}
