/* 0 */
/* 2px */
/* 4px */
/* 6px */
/* 8px */
/* 10px */
/* 12px */
/* 16px */
/* 20px */
/* 24px */
/* 32px */
/* 40px */
/* 48px */
/* 64px */
/* 80px */
/* 0 */
/* 3.64px */
/* 96px */
/* 70px */
/* 60px */
/* 70px */
/* 55px */
/* 60px */
/* 50px */
/* 36px */
/* 22px */
/* 20px */
/* 18px */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/outfit-v15-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Big Shoulders";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/big-shoulders-v4-latin/big-shoulders-v4-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Big Shoulders";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/big-shoulders-v4-latin/big-shoulders-v4-latin-900.woff2") format("woff2");
}
.main {
  width: 92%;
  display: grid;
  place-items: center;
  gap: 2rem;
  font-family: "Outfit", sans-serif;
  text-align: start;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 8%);
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0;
}
@media (min-width: 48rem) {
  .main {
    gap: 0.75rem;
  }
}
.main .gallery,
.main .inspiration {
  width: 100%;
  display: grid;
}
.main .gallery {
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 48rem) {
  .main .gallery {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "article picture";
  }
  .main .gallery .gallery__article {
    grid-area: article;
    max-width: 40%;
  }
  .main .gallery picture {
    grid-area: picture;
  }
  .main .gallery .gallery__article-text {
    color: hsl(0, 0%, 27%);
  }
}
.main .inspiration {
  gap: 1rem;
}
@media (min-width: 48rem) {
  .main .inspiration {
    grid-template-columns: 58% 41%;
    grid-template-rows: auto auto;
    gap: 0.75rem;
    grid-template-areas: "picture1 picture2" "picture1 article";
  }
  .main .inspiration .inspiration__article {
    padding: 5rem 2rem;
    grid-area: article;
  }
  .main .inspiration .inspiration__pic-1 {
    grid-area: picture1;
  }
  .main .inspiration .inspiration__pic-2 {
    grid-area: picture2;
  }
  .main .inspiration .inspiration__pic-2 img {
    height: 100%;
  }
}
.main img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main .gallery__article-title, .main .inspiration__article-title {
  font-family: "Big Shoulders", display;
  text-transform: uppercase;
  font-size: 3.13rem;
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: 0;
}
.main .gallery__article {
  display: grid;
  gap: 1.5rem;
}
.main .inspiration__article {
  padding: 3rem 1.5rem;
  display: grid;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
}

.footer {
  width: 100%;
  padding: 3rem 2.5rem;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: grid;
  gap: 2.5rem;
  font-family: "Outfit", sans-serif;
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0;
}
.footer .footer__article {
  display: grid;
  gap: 2.5rem;
}
.footer .footer__nav-list {
  list-style: none;
  padding: 0;
  width: fit-content;
  display: flex;
  gap: 1.25rem;
}
.footer .footer__nav-list .footer__nav-list-item {
  display: grid;
  place-items: center;
}
.footer .footer__nav-list .footer__nav-link {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: no-repeat center;
}
.footer .footer__nav-list .footer__nav-link[data-network=facebook] {
  background-image: url("/assets/icons/social/icon-facebook.svg");
}
.footer .footer__nav-list .footer__nav-link[data-network=facebook]:hover {
  background-image: linear-gradient(center, hsl(24, 56%, 63%), hsl(24, 56%, 63%)), url("/assets/icons/social/icon-facebook-white.svg");
}
.footer .footer__nav-list .footer__nav-link[data-network=instagram] {
  background-image: url("/assets/icons/social/icon-instagram.svg");
}
.footer .footer__nav-list .footer__nav-link[data-network=twitter] {
  background-image: url("/assets/icons/social/icon-twitter.svg");
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  display: grid;
  place-items: center;
  gap: 100px;
}

/*# sourceMappingURL=main.css.map */
